/* Brands */

.brands {
	padding: 15px 0 10%;
	background: #ddd;
	margin-bottom: 10px;
	$self: &;
	&_main {
		#{$self}__title {
			font-size: 56px;
			font-weight: 700;
			color: #d3bebe;
			line-height: 1;
		}
		#{$self}__text {
			padding-left: 20px;
			line-height: 1;
			font-size: 21px;
			font-weight: 500;
		}
		#{$self}__slider {
			margin-top: 5px;
			.swiper-slide {
				img {
					max-width: 100%;
				}
			}
			&-wrap {
				max-width: 240px;
			}
		}
	}
	&_forhouse {
		padding: 10px 0 5px;
	}
	&_rekonstrukcija {
		background: #c3c3c3;
		padding: 50px 0 5px;
		.brands__title {
			color: #bd9d9e;
		}
	}
	&_stili-remonta {
		background: $dark;
		padding: 65px 50px 120px;
		#{$self}__text {
			margin-top: 65px;
			font-weight: 500;
			font-size: 27px;
			line-height: 33px;
			display: flex;
			align-items: center;
			text-align: center;
			color: $white;
			max-width: 900px;
			margin-left: auto;
			margin-right: auto;
		}
		#{$self}-slider {
			margin-top: 40px;
		}
		#{$self}__image {
			max-width: 287px;
			img {
				max-width: 100%;
			}
		}
	}
}

@media (max-width: 1440px) {
	.brands_stili-remonta {
		padding: 25px 50px 85px;
	}
}

@media (max-width: 1280px) {
	.brands_stili-remonta {
		padding: 35px 50px 85px;
		.brands__text {
			font-size: 22px;
			line-height: 27px;
		}
	}
}

@media (max-width: 1024px) {
	.brands_stili-remonta {
		.brands__text {
			font-size: 17px;
			line-height: 21px;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
		}
	}
}

@media (max-width: 991px) {
	/* Brands */

	.brands__title {
		font-size: 73px;
	}

	.brands_forhouse {
		.brands__title {
			font-size: 73px;
		}
	}
}

@media (max-width: 767px) {
	/* Brands */

	.brands__title {
		font-size: 56px;
	}

	.brands_forhouse {
		.brands__title {
			font-size: 42px;
			line-height: 1.8;
		}

		.brands__text {
			font-size: 18px;
		}
	}

	.brands_stili {
		padding: 30px 0;
		.brands__text {
			padding-left: 0;
			margin-top: 40px;
		}
	}

	.brands_stili-remonta {
		.brands__text {
			font-size: 17px;
			line-height: 21px;
			max-width: 600px;
			margin-left: auto;
			margin-right: auto;
			margin-top: 15px;
		}

		.brands__slider {
			margin-top: 10px;
		}
	}

	.brands_stili-remonta {
		padding: 20px;
	}
}