.company {
	overflow: hidden;
	position: relative;
	&__inner {
		position: relative;
		z-index: 2;
	}
	&__cart {
		padding-bottom: 120px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		color: $black;
		&_reverse {
			flex-direction: row-reverse;
			.company__image {
				padding-left: 0;
				padding-right: 50px;
			}
			.company__content {
				padding-right: 8vw;
				padding-left: 50px;
			}
			.company__title {
				h2 {
					transform: translate(0, 0);
				}
			}
		}
	}
	&__image {
		position: relative;
		z-index: 4;
		flex: 0 0 58%;
		padding-left: 50px;
		&-wrap {
			min-height: 600px;
		}
	}
	&__slider {
		position: relative;
		z-index: 4;
		flex: 0 0 58%;
		width: 58%;
		padding-left: 50px;
		.swiper {
			width: 100%;
			.swiper-slide {
				min-height: 600px;
			}
		}
	}
	&__content {
		padding-top: 40px;
		padding-bottom: 40px;
		flex: 0 0 42%;
		padding-left: 8vw;
		padding-right: 50px;
	}
	&__title {
		position: relative;
		z-index: 1;
		display: flex;
		align-items: flex-start;
		background: transparent;
		min-height: 110px;
		h3 {
			font-weight: 900;
			font-size: 33px;
			line-height: 40px;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			display: flex;
			align-items: flex-end;
			margin-top: 56px;
		}
		h2 {
			font-weight: 900;
			font-size: 90px;
			line-height: 110px;
			text-align: center;
			text-transform: uppercase;
			opacity: .4;
			-webkit-text-stroke: 1px $dark;
			color: transparent;
			position: absolute;
			top: 0;
			left: 0;
			white-space: nowrap;
			transform: translate(-8vw, 0);
			z-index: 1;
		}
	}
	&__text {
		margin-top: 30px;
		font-size: 17px;
		line-height: 140%;
	}
}

@media (max-width: 1441px) {
	.company__title {
		min-height: 85px;
		h2 {
			font-size: 70px;
			line-height: 85px;
		}
		h3 {
			font-size: 22px;
			line-height: 27px;
			margin-top: 48px;
		}
	}
	.company__text {
		font-size: 14px;
	}
	.company__image-wrap,
	.company__slider .swiper .swiper-slide {
		min-height: 550px;
	}
}

@media (max-width: 1279px) {
	.company__text {
		margin-top: 10px;
	}
	.company__cart {
		padding-bottom: 80px;
	}
	.company__image-wrap,
	.company__slider .swiper .swiper-slide {
		min-height: 450px;
	}
}

@media (max-width: 1023px) {
	.company__cart {
		flex-direction: column;
		&_reverse {
			flex-direction: column;
			.company__content {
				padding-left: 20px;
				padding-right: 20px;
			}
		}
	}
	.company__image {
		flex: none;
		width: 100%;
		padding-left: 0;
	}
	.company__slider {
		flex: none;
		width: 100%;
		padding-left: 0;
	}
	.company__content {
		flex: none;
		width: 100%;
		padding-left: 20px;
		padding-right: 20px;
		padding-bottom: 0;
		padding-top: 20px;
	}
}

@media (max-width: 767px) {
	.company__title {
		min-height: 61px;
		h2 {
			font-size: 50px;
			line-height: 61px;
		}
		h3 {
			font-size: 17px;
			line-height: 21px;
			margin-top: 32px;
		}
	}
	.company__text {
		margin-top: 0;
		font-size: 12px;
		line-height: 135%;
	}
	.company__image-wrap,
	.company__slider .swiper .swiper-slide {
		min-height: 300px;
	}
}

@media (max-width: 479px) {
	.company__content {
		padding-top: 10px;
	}
	.company__cart {
		padding-bottom: 40px;
	}
	.company__image-wrap,
	.company__slider .swiper .swiper-slide {
		min-height: 230px;
	}
}