.designer {
	overflow: hidden;
	display: flex;
	&__content {
		position: relative;
		z-index: 3;
		flex: 0 0 42%;
		padding: 85px 50px 125px;
	}
	&__title {
		position: relative;
		min-height: 110px;
		display: flex;
		align-items: flex-start;
		h2 {
			font-weight: 900;
			font-size: 90px;
			line-height: 110px;
			text-align: center;
			letter-spacing: 0.032em;
			text-transform: uppercase;
			color: transparent;
			-webkit-text-stroke: 1px $dark;
			-webkit-text-fill-color: transparent;
			position: absolute;
			top: 0;
			left: 0;
			white-space: nowrap;
			opacity: 0.4;
		}
		h3 {
			font-weight: 900;
			font-size: 33px;
			line-height: 40px;
			text-transform: uppercase;
			position: relative;
			z-index: 2;
			margin-top: 56px;
			color: $dark;
		}
	}
	&__list {
		margin-top: 25px;
		color: $black;
		&-text {
			font-weight: 500;
			font-size: 27px;
			line-height: 33px;
			max-width: 500px;
		}
		&-list {
			margin-top: 30px;
			display: grid;
			grid-template-columns: 1fr 1fr;
			li {
				display: flex;
				margin-top: 10px;
				padding-right: 10px;
				.iconify {
					font-size: 20px;
					margin-right: 10px;
					color: $red;
					min-width: 20px;
				}
				p {
					font-size: 17px;
					line-height: 140%;
				}
			}
		}
	}
	&__form {
		margin-top: 10px;
		max-width: 300px;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
		display: flex;
		flex-direction: column;
		> label {
			margin-top: 20px;
			text-align: center;
			> span {
				font-size: 17px;
				line-height: 140%;
				color: $dark;
				margin-bottom: 10px;
				display: inline-block;
			}
		}
		.btn {
			margin-top: 20px;
		}
	}
	&__image {
		position: relative;
		z-index: 4;
		flex: 0 0 58%;
		display: flex;
		align-items: flex-end;
		justify-content: flex-start;
		&-info {
			text-align: center;
			padding: 20px 40px;
			margin: 20px;
			background: $dark;
			color: $white;
		}
		&-name {
			font-weight: 500;
			font-size: 27px;
			line-height: 33px;
		}
		&-position {
			font-size: 17px;
			line-height: 140%;
			margin-top: 10px;
		}
	}
}

@media (max-width: 1919px) {
	.designer__content {
		padding: 0 50px 30px;
	}
}

@media (max-width: 1441px) {
	.designer__title {
		min-height: 85px;
		h2 {
			font-size: 70px;
			line-height: 85px;
		}
		h3 {
			font-size: 22px;
			line-height: 27px;
			margin-top: 48px;
		}
	}
	.designer__list {
		&-text {
			font-size: 17px;
			line-height: 21px;
		}
		&-list {
			margin-top: 0;
			li {
				p {
					font-size: 14px;
				}
			}
		}
	}
	.designer__list {
		&-text {
			font-size: 17px;
			line-height: 21px;
		}
	}
	.designer__image {
		&-name {
			font-size: 17px;
			line-height: 21px;
		}
		&-position {
			font-size: 14px;
		}
	}
	.designer__list-list li {
		margin-top: 20px;
	}
	.designer__form > label > span {
		font-size: 14px;
	}
}

@media (max-width: 1279px) {
	.designer__list-list {
		display: block;
	}
	.designer__form {
		margin-left: 0;
		margin-right: 0;
	}
}

@media (max-width: 1023px) {
	.designer {
		flex-direction: column-reverse;
		&__image {
			flex: none;
			width: 100%;
			min-height: 550px;
		}
		&__content {
			flex: none;
			width: 100%;
			padding: 20px 20px 80px;
			&-body {
				display: flex;
				align-items: flex-end;
			}
		}
	}
	.designer__list {
		flex: 0 0 50%;
		padding-right: 30px;
	}
	.designer__form {
		flex: 0 0 50%;
	}
	.designer__list-list {
		margin-top: 0;
		max-width: 280px;
	}
}

@media (max-width: 767px) {
	.designer {
		&__image {
			min-height: 350px;
		}
		&__content {
			padding: 10px 20px 80px;
			&-body {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}
	.designer__list {
		padding-right: 0;
		max-width: 320px;
		flex: none;
		&-list {
			max-width: 320px;
		}
	}
	.designer__form {
		align-self: center;
		flex: none;
	}
	.designer__form > label > span {
		font-size: 12px;
		line-height: 135%;
	}
	.designer__title {
		min-height: 61px;
		h2 {
			font-size: 50px;
			line-height: 61px;
		}
		h3 {
			font-size: 17px;
			line-height: 21px;
			margin-top: 33px;
		}
	}
	.designer__list-list li {
		margin-top: 10px;
		p {
			font-size: 12px;
			line-height: 135%;
		}
	}
	.designer__list-text {
		font-size: 14px;
		line-height: 17px;
	}
	.designer__list {
		margin-top: 10px;
	}
	.designer__image {
		&-info {
			padding: 10px 20px;
		}
		&-name {
			font-size: 14px;
			line-height: 17px;
		}
		&-position {
			font-size: 12px;
			line-height: 135%;
		}
	}
}

@media (max-width: 479px) {
	.designer {
		&__image {
			min-height: 250px;
		}
		&__content {
			padding: 10px 20px 40px;
			&-body {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
			}
		}
	}
	.designer__list {
		padding-right: 0;
		max-width: 320px;
		flex: none;
		&-list {
			max-width: 320px;
		}
	}
	.designer__form {
		align-self: center;
		flex: none;
	}
	.designer__form > label > span {
		font-size: 12px;
		line-height: 135%;
	}
	.designer__title {
		min-height: 61px;
		h2 {
			font-size: 50px;
			line-height: 61px;
		}
		h3 {
			font-size: 17px;
			line-height: 21px;
			margin-top: 33px;
		}
	}
	.designer__list-list li {
		margin-top: 10px;
		p {
			font-size: 12px;
			line-height: 135%;
		}
	}
	.designer__list-text {
		font-size: 14px;
		line-height: 17px;
	}
	.designer__list {
		margin-top: 10px;
	}
}