/* Explain */

.explain {
	padding: 70px 0 110px;
	&__container {
		max-width: 1040px;
	}
	&__cart {
		&:nth-child(2n) {
			.explain__cart-img {
				margin-top: -45px;
			}
		}
		&_reverse {
			flex-direction: row-reverse;
			.explain__cart-content {
				padding-left: 95px;
				padding-right: 0;
			}
		}
		display: flex;
		align-items: center;
		&-content {
			padding-right: 95px;
			flex: 0 1 43%;
			padding-right: 90px;
		}
		&-title {
			color: $red;
			line-height: 1;
			font-size: 36px;
			font-weight: 500;
		}
		&-text {
			margin-top: 35px;
			margin-bottom: 55px;
			line-height: 1.8;
		}
		&-img {
			flex: 0 1 57%;
			background: transparent;
			border: 15px solid #fff;
			box-shadow: 0 1px 20px rgba(0, 0, 0, .5);
			img {
				max-width: 100%;
			}
		}
	}
}

@media (max-width: 991px) {
	/* Explain */

	.explain__cart:nth-child(2n) .explain__cart-img {
		margin-top: 0;
	}

	.explain__cart-content {
		padding-right: 30px;
	}

	.explain__cart_reverse .explain__cart-content {
		padding-left: 30px;
	}
}

@media (max-width: 767px) {
	/* Explain */

	.explain {
		padding-top: 50px;
		padding-bottom: 0;
	}

	.explain__cart {
		flex-direction: column-reverse;
		margin-bottom: 30px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	.explain__cart-content {
		text-align: center;
		padding: 30px 0 50px;
	}

	.explain__cart_reverse .explain__cart-content {
		padding-left: 0;
	}

	.explain__cart-content {
		padding-right: 0;
	}
}