/* Forum Tab */

.forum-tab {
	box-shadow: 0 0px 30px rgba(0, 0, 0, .12);
	max-width: 760px;
	background: #f2f2f2;
	&__nav {
		padding: 30px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
	}
	&__title {
		transition: .2s;
		font-size: 17px;
		font-weight: 500;
		line-height: 1.4;
		margin-right: 30px;
		text-transform: uppercase;
	}
	&__content {
		transition: .5s;
		overflow: hidden;
	}
	&__wrap {
		transition: .5s;
		padding: 40px 35px 45px;
		margin: -15px 0;
	}
	&__text {
		font-weight: 300;
		color: #494849;
		line-height: 28px;
		margin-top: 25px;
		&:first-child {
			margin-top: 0;
		}
	}
	&__list {
		li {
			font-weight: 300;
			color: #494849;
			line-height: 28px;
			margin-top: 23px;
			&::before {
				content: '— ';
				font-weight: 300;
				color: #494849;
				line-height: 28px;
			}
		}
	}
	&.active {
		.forum-tab__nav {
			color: $red;
			i {
				transform: rotate(-90deg);
			}
		}
		.forum-tab__wrap {
			margin: 0;
		}
	}
}

@media (max-width: 991px) {
	/* Forum Tab */

	.forum-tab__title {
		font-size: 13px;
	}
}

@media (max-width: 767px) {
	/* Forum Tab */

	.forum-tab__title {
		font-size: 15px;
	}
}