/* Header */

.header {
	$self: &;
	&_anim {
		overflow: hidden;
		position: relative;
		#{$self}__price {
			font-weight: 900;
			font-size: 33px;
			line-height: 40px;
			margin-top: 20px;
			text-align: center;
			text-transform: uppercase;
			color: #F9F8FE;
		}
		#{$self}__body {
			position: relative;
			padding-top: 50px;
			padding-bottom: 50px;
			text-align: center;
			padding-right: 20px;
			padding-left: 20px;
			width: 100%;
			display: flex;
			&-wrap {
				width: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
			}
		}
		#{$self}__title {
			animation: headerAnimShowTitle .5s 1.1s both;
			position: relative;
			z-index: 10;
			display: flex;
			align-items: flex-start;
			justify-content: center;
			background: transparent;
			min-height: 146px;
			h2 {
				font-weight: 900;
				font-size: 120px;
				line-height: 146px;
				text-align: center;
				text-transform: uppercase;
				opacity: .4;
				-webkit-text-stroke: 1px $white;
				color: transparent;
				position: absolute;
				top: 0;
				left: 50%;
				transform: translate(-50%, 0);
				white-space: nowrap;
				z-index: 11;
			}
			h3 {
				font-weight: 900;
				font-size: 48px;
				line-height: 59px;
				text-transform: uppercase;
				position: relative;
				z-index: 12;
				display: flex;
				align-items: flex-end;
				margin-top: 72px;
				color: $white;
				max-width: 1000px;
			}
		}
		#{$self}__text {
			font-weight: 500;
			font-size: 27px;
			line-height: 33px;
			color: $white;
			max-width: 825px;
			margin-left: auto;
			margin-right: auto;
			text-align: center;
			z-index: 10;
		}
		#{$self}__btn {
			margin-top: 20px;
			margin-bottom: 40px;
			z-index: 10;
		}
		#{$self}__anim-background {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			z-index: 4;
			.header__slider {
				height: 100%;
				position: relative;
			}
			.header__slide {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}
			.header__background {
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
			}
		}
		#{$self}__cover {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			&.up {
				z-index: 6;
			}
			> span {
				width: calc(16vw + 50px);
				position: relative;
				display: block;
				height: 100%;
				background: transparent;
				transition: box-shadow .3s .5s, z-index .3s .5s;
				&:hover {
					z-index: 1;
					box-shadow: 0 0 80px rgba(0, 0, 0, .5), 0 0 80px rgba(0, 0, 0, .5);
				}
				> span {
					display: block;
					overflow: hidden;
					width: 100%;
					height: 100%;
					transition: width .2s linear;
					> span {
						display: block;
						min-width: calc(16vw + 50px);
						height: 100%;
						background-size: none;
					}
				}
			}
			> span:first-child {
				> span {
					> span {
						background-position: left;
					}
				}
			}
			> span:last-child {
				> span {
					transition-duration: 1.2s;
					> span {
						background-position: calc((100vw - (16vw + 50px)) * -1);
					}
				}
			}
			&-inner {
				width: calc(100% - (16vw + 50px) * 2);
				display: flex;
				flex-wrap: nowrap;
				> span {
					flex: 0 0 25%;
					width: 25%;
					display: block;
					background: transparent;
					position: relative;
					transition: box-shadow .3s .5s, z-index .3s .5s;
					&:hover {
						z-index: 1;
						box-shadow: 0 0 80px rgba(0, 0, 0, .5), 0 0 80px rgba(0, 0, 0, .5);
					}
					> span {
						overflow: hidden;
						display: block;
						width: 100%;
						height: 100%;
						transition: width .2s linear;
						> span {
							display: block;
							min-width: calc(17vw - 100px / 4);
							height: 100%;
							background-size: none;
						}
					}
				}
				> span:nth-child(1) {
					> span {
						transition-duration: .4s;
						> span {
							background-position: calc((16vw + 50px) * -1);
						}
					}
				}
				> span:nth-child(2) {
					> span {
						transition-duration: .6s;
						> span {
							background-position: calc(((16vw + 50px) + ((17vw - 100px / 4))) * -1);
						}
					}
				}
				> span:nth-child(3) {
					> span {
						transition-duration: .8s;
						> span {
							background-position: calc(((16vw + 50px) + ((17vw - 100px / 4) * 2)) * -1);
						}
					}
				}
				> span:nth-child(4) {
					> span {
						transition-duration: 1.0s;
						> span {
							background-position: calc(((16vw + 50px) + ((17vw - 100px / 4) * 3)) * -1);
						}
					}
				}
			}
			// &.right {
			// 	> span {
			// 		display: flex;
			// 		justify-content: flex-end;
			// 	}
			// 	.header__cover-inner {
			// 		> span {
			// 			display: flex;
			// 			justify-content: flex-end;
			// 		}
			// 	}
			// }
			&.hide {
				#{$self}__cover-inner span {
					> span {
						width: 0%;
					}
				}
				> span {
					> span {
						width: 0%;
					}
				}
			}
		}
		#{$self}__lines {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			display: flex;
			justify-content: space-between;
			padding: 0 calc(50px + 16vw);
			background: transparent;
			span {
				transition: height .8s .8s;
				display: block;
				border-left: 1px solid $white;
				height: 100%;
				opacity: 0.5;
				z-index: 9;
			}
		}
		#{$self}__inner {
			min-height: calc(var(--vh, 1vh) * 100);
			width: 100%;
			display: flex;
			transition: opacity 1s;
			opacity: 1;
			position: relative;
			z-index: 3;
		}
		&-about {
			#{$self}__inner {
				min-height: 600px;
			}
		}
		&-package {
			#{$self}__inner {
				min-height: 570px;
			}
		}
	}
}

@keyframes headerAnimShowTitle {
	0% {
		opacity: 0;
		transform: scale(0);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}

@media (max-width: 1919px) {
	.header_anim-package .header__inner {
		min-height: 450px;
	}
}

@media (max-width: 1441px) {
	.header_anim {
		.header__title {
			min-height: 110px;
			h2 {
				font-size: 90px;
				line-height: 110px;
			}
			h3 {
				font-size: 26px;
				line-height: 32px;
				margin-top: 63px;
				max-width: 600px;
			}
		}
		.header__text {
			font-size: 17px;
			line-height: 21px;
			max-width: 600px;
		}
		.header__price {
			font-size: 22px;
			line-height: 27px;
		}
		&-about {
			.header__inner {
				min-height: 400px;
			}
		}
	}
}

@media (max-width: 1279px) {
	.header_anim {
		// .header__body {
		// 	padding-top: 90px;
		// }
		.header__title {
			h3 {
				font-size: 26px;
				line-height: 32px;
				margin-top: 63px;
				max-width: 600px;
			}
		}
		.header__text {
			font-size: 17px;
			line-height: 21px;
			max-width: 510px;
		}
		.header__lines {
			padding: 0 calc(50px + 8vw);
		}
		.header__cover {
			> span {
				width: calc(8vw + 50px);
				> span {
					> span {
						min-width: calc(8vw + 50px);
					}
				}
			}
			> span:last-child {
				> span {
					> span {
						background-position: calc((100vw - (8vw + 50px)) * -1);
					}
				}
			}
			&-inner {
				width: calc(100% - (8vw + 50px) * 2);
				> span:nth-child(1) {
					> span {
						> span {
							background-position: calc((8vw + 50px) * -1);
						}
					}
				}
				> span:nth-child(2) {
					> span {
						> span {
							background-position: calc(((8vw + 50px) + ((21vw - 100px / 4))) * -1);
						}
					}
				}
				> span:nth-child(3) {
					> span {
						> span {
							background-position: calc(((8vw + 50px) + ((21vw - 100px / 4) * 2)) * -1);
						}
					}
				}
				> span:nth-child(4) {
					> span {
						> span {
							background-position: calc(((8vw + 50px) + ((21vw - 100px / 4) * 3)) * -1);
						}
					}
				}
				> span {
					> span {
						> span {
							min-width: calc(21vw - 100px / 4);
						}
					}
				}
			}
		}
	}
}

// TODO:
// @media (max-width: 850px) {
// 	.header_anim {
// 		.header__subtitle {
// 			margin-left: auto;
// 			margin-right: auto;
// 		}
// 		.header__btn {
// 			margin-top: 30px;
// 		}
// 		// .header__inner {
// 		// 	justify-content: center;
// 		// }
// 		.header__body {
// 			padding-top: 170px;
// 		}
// 	}
// }

@media (max-width: 1023px) {
	.header_anim {
		// .header__body {
		// 	margin-top: auto;
		// 	margin-bottom: auto;
		// }
		// .header__body {
		// 	padding-top: 170px;
		// }
		.header__lines {
			padding: 0 calc(50px + 16vw);
			span {
				&:nth-child(4), &:nth-child(5) {
					display: none;
				}
			}
		}
		.header__cover {
			> span {
				width: calc(16vw + 50px);
				> span {
					> span {
						min-width: calc(16vw + 50px);
					}
				}
			}
			> span:last-child {
				> span {
					transition-duration: .8s;
					> span {
						background-position: calc((100vw - (16vw + 50px)) * -1);
					}
				}
			}
			&-inner {
				width: calc(100% - (16vw + 50px) * 2);
				> span:nth-child(3), > span:nth-child(4) {
					display: none;
				}
				> span {
					flex: 0 0 50%;
					width: 50%;
				}
				> span:nth-child(1) {
					> span {
						> span {
							background-position: calc((16vw + 50px) * -1);
						}
					}
				}
				> span:nth-child(2) {
					> span {
						> span {
							background-position: calc(((16vw + 50px) + ((34vw - 100px / 2))) * -1);
						}
					}
				}
				> span {
					> span {
						> span {
							min-width: calc(34vw - 100px / 2);
						}
					}
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.header_anim {
		.header__text {
			font-size: 14px;
			line-height: 17px;
			max-width: 420px;
		}
		// .header__body {
		// 	padding-top: 155px;
		// }
		.header__title {
			min-height: 85px;
			h2 {
				font-size: 70px;
				line-height: 85px;
			}
			h3 {
				font-size: 22px;
				line-height: 27px;
				margin-top: 48px;
				max-width: 400px;
			}
		}
		.header__price {
			font-size: 17px;
			line-height: 21px;
			margin-top: 10px;
			margin-bottom: 10px;
		}
		.header__btn {
			margin-top: 50px;
			margin-bottom: 20px;
		}
		&-home {
			.header__btn {
				margin-top: 20px;
			}
		}
		// .header__body-wrap {
		// 	justify-content: flex-end;
		// }
		.header__lines {
			padding: 0 20px;
			span {
				&:nth-child(4), &:nth-child(5) {
					display: none;
				}
			}
		}
		.header__cover {
			> span {
				width: 20px;
				> span {
					> span {
						min-width: 20px;
					}
				}
			}
			> span:last-child {
				> span {
					> span {
						background-position: calc((100vw - 20px) * -1);
					}
				}
			}
			&-inner {
				width: calc(100% - 20px * 2);
				> span:nth-child(1) {
					> span {
						> span {
							background-position: calc(20px * -1);
						}
					}
				}
				> span:nth-child(2) {
					> span {
						> span {
							background-position: calc((20px + ((50vw - 20px))) * -1);
						}
					}
				}
				> span {
					> span {
						> span {
							min-width: calc(50vw - 20px);
						}
					}
				}
			}
		}
		&-about {
			.header__inner {
				min-height: 550px;
			}
		}
	}
	.header_anim-package .header__inner {
		min-height: 300px;
	}
}

@media (max-width: 479px) {
	.header_anim {
		// .header__body {
		// 	padding-top: 150px;
		// }
		&-about {
			.header__inner {
				min-height: 370px;
			}
		}
		.header__btn {
			.btn {
				padding: 15px;
				width: 100%;
			}
		}
		&-home {
			.header__btn {
				margin-top: 50px;
			}
			.header__title {
				margin-bottom: 20px;
			}
		}
		.header__title {
			h3 {
				font-size: 22px;
				line-height: 27px;
				margin-top: 47px;
				margin-left: -10px;
				margin-right: -10px;
			}
		}
	}
}

// @media (max-width: 320px) {
// 	.header_anim {
// 		.header__body {
// 			padding-top: 50px;
// 		}
// 	}
// }