.house {
	padding: 70px 0;
	min-height: calc(var(--vh, 1vh) * 100);
	display: flex;
	align-items: center;
	.container {
		padding: 0 10px;
	}
	&__wrap {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
	}
	&__slider {
		flex: 0 0 50%;
		width: 50%;
		.swiper {
			width: 100%;
			height: 100%;
		}
		.swiper-slide {
			width: 100%;
			height: 100%;
			background-repeat: no-repeat;
			background-position: center center;
			background-size: cover;
			min-height: 430px;
		}
	}
	&__about {
		padding: 60px;
		background: #f7f7f7;
		flex: 0 0 50%;
		&-title {
			font-size: 40px;
			font-weight: 500;
		}
		&-text {
			line-height: 1.6em;
			letter-spacing: .2px;
			font-size: 21px;
			margin-top: 13px;
		}
	}
}

@media (max-width: 991px) {
	.house {
		padding: 10px 0;
	}

	.house__wrap {
		flex-direction: column;
	}

	.house__slider {
		flex-basis: 100%;
		width: 100%;
		.swiper-slide {
			min-height: 450px;
		}
	}

	.house__about {
		padding: 30px;
		flex-basis: 100%;
		flex-direction: column;
		&-title {
			font-size: 34px;
		}
	}
}

@media (max-width: 767px) {
	.house {
		padding: 60px 0;
	}

	.house__wrap {
		padding: 0 10px;
	}

	.house__slider {
		max-width: 336px;
		.swiper-slide {
			min-height: 250px;
		}
	}

	.house__about {
		padding: 30px 15px;
		&-title {
			font-size: 28px;
		}
	}
}