/* Info */

.info {
	&__wrap {
		overflow: hidden;
	}
	&__container {
		max-width: 1210px;
		padding: 0 6px;
	}
	&__body {
		display: flex;
		align-items: flex-start;
	}
	&__image {
		margin-top: 23px;
		&-wrap {
			background-position: center left;
			background-size: cover;
			background-repeat: no-repeat;
			min-height: 369px;
		}
		padding-right: 50px;
		flex: 0 1 50%;
	}
	&__content {
		flex: 0 1 50%;
		padding-left: 50px;
		padding-right: 40px;
		&-logo {
			max-width: 270px;
			img {
				max-width: 100%;
			}
		}
		&-title {
			margin-top: 7px;
			color: #000;
			font-size: 24px;
			font-weight: 500;
			line-height: 1;
			&::after {
				content: '';
				display: block;
				height: 3px;
				width: 100%;
				background: linear-gradient(90deg, $red_secondary 0%, transparent 58%);
				margin-top: 9px;
				transform: translate(100%, 0);
				transition: .8s;
			}
			&.active {
				&::after {
					transform: translate(0, 0);
				}
			}
		}
		&-text {
			margin-bottom: 30px;
			margin-top: 12px;
			color: #000;
			line-height: 1.8;
		}
	}
	&_reverse {
		.info__body {
			flex-direction: row-reverse;
		}
		.info__image {
			padding-left: 50px;
			padding-right: 0;
		}
		.info__content {
			padding-right: 50px;
			padding-left: 40px;
			&-title {
				&::after {
					transform: translate(-100%, 0);
				}
				&.active {
					&::after {
						transform: translate(0, 0);
					}
				}
			}
		}
	}
	&_forroom {
		margin-top: 80px;
		background: #e7e7e7;
		padding: 70px 0 150px;
		position: relative;
		&::before, &::after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			background: #e7e7e7;
			z-index: 1;
		}
		&::before {
			top: 0;
			transform: translate(0, -100%);
			clip-path: polygon(100% 0, 0% 100%, 100% 100%);
			height: 80px;
		}
		&::after {
			clip-path: polygon(100% 0, 0 0, 100% 100%);
			bottom: 0;
			transform: translate(0, 100%);
			height: 80px;
		}
	}
	&_forhouse {
		background: #2e2e2e;
		position: relative;
		&::before {
			content: '';
			display: block;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			background: url('../img/background-element.png') repeat;
			background-size: 8% auto;
			opacity: 0.02;
			z-index: 1;
		}
		.info__body {
			padding: 160px 0 200px;
			position: relative;
			z-index: 2;
		}
		.info__content {
			&-title {
				color: #fff;
			}
			&-text {
				color: #fff;
			}
		}
	}
	&_forum {
		background: #e7e7e7;
		padding: 80px 0 120px;
		position: relative;
		&::before, &::after {
			content: '';
			display: block;
			position: absolute;
			left: 0;
			width: 100%;
			background: #e7e7e7;
			z-index: 1;
			top: 0;
			transform: translate(0, -100%);
			clip-path: polygon(100% 0, 0% 100%, 100% 100%);
			height: 80px;
		}
		.info__image {
			margin-top: 0;
			&-wrap {
				background-position: center top;
			}
		}
		.info__content {
			margin-top: 15px;
			&-logo {
				margin-bottom: 10px;
				max-width: 190px;
				img {
					max-width: 100%;
				}
			}
			&-text {
				margin-bottom: 50px;
				margin-top: 25px;
			}
		}
	}
}

@media (max-width: 991px) {
	/* Info */

	.info {
		&_reverse {
			.info__body {
				padding: 95px 0 160px;
			}
			.info__image {
				padding-left: 30px;
				padding-right: 5px;
				&-wrap {
					min-height: 369px;
				}
			}
			.info__content {
				padding-left: 15px;
				padding-right: 0;
			}
		}
		&__image {
			flex-basis: 60%;
			padding-right: 0;
			margin-top: 35px;
			&-wrap {
				min-height: 289px;
			}
		}
		&__content {
			flex-basis: 40%;
			padding-left: 30px;
			padding-right: 0;
			&-title {
				font-size: 18px;
			}
			&-text {
				font-size: 13px;
			}
			&-logo {
				max-width: 66%;
			}
		}
		&_forroom {
			padding: 20px 0;
		}
		&_forum {
			padding: 60px 0 120px;
			.info__image-wrap {
				min-height: 369px;
			}
			.info__content-logo {
				max-width: 46%;
			}
		}
	}
}

@media (max-width: 767px) {
	/* Info */

	.info {
		&__body {
			flex-direction: column;
		}
		&_reverse {
			.info__body {
				flex-direction: column;
				padding: 110px 0 90px;
			}
			.info__image {
				padding-left: 0;
				padding-right: 0;
			}
			.info__content-text {
				margin-bottom: 25px;
			}
		}
		&__image {
			margin-top: 0;
			flex-basis: 100%;
			width: 100%;
			&-wrap {
				min-height: 271px;
			}
		}
		&__content {
			padding-left: 10px;
			flex-basis: 100%;
			width: 100%;
			&-logo {
				width: 50%;
				margin: 25px auto 18px;
			}
			&-text {
				margin-bottom: 40px;
			}
			&-btn {
				text-align: center;
			}
		}
		&__container {
			padding: 0 10px;
		}
		&_forum {
			padding: 15px 0 45px;
			.info__image-wrap {
				min-height: 271px;
			}
			.info__content-logo {
				max-width: 36%;
				margin-top: 10px;
			}
		}
	}
}