.interior {
	padding: 70px 0 170px;
	background: #f0f0f0;
	&__title {
		font-size: 56px;
		font-weight: 500;
		span {
			color: $red_secondary;
		}
	}
	&__wrap {
		max-width: 1100px;
		display: flex;
		align-items: flex-start;
		margin-top: 40px;
		margin-left: auto;
		margin-right: auto;
	}
	&__image {
		flex: 0 0 50%;
		&-wrap {
			padding-bottom: 125%;
			width: 100%;
		}
	}
	&__content {
		margin-top: 40px;
		margin-left: -40px;
		padding: 30px 60px 60px;
		flex: 0 0 50%;
		background: #fff;
		box-shadow: 0 5px 30px rgba(0, 0, 0, .1);
		&-subtitle {
			text-transform: uppercase;
			font-size: 18px;
			font-weight: 500;
			color: #3f3f3f;
		}
		&-title {
			text-transform: uppercase;
			color: $red_secondary;
			font-size: 42px;
			font-weight: 500;
			margin-bottom: 20px;
			margin-top: 20px;
		}
		&-text {
			margin-bottom: 1.75em;
			line-height: 1.8;
		}
		&-btn {
			margin-top: 50px;
		}
	}
}

@media (max-width: 991px) {
	/* Interior */

	.interior__content {
		padding: 40px;
	}

	.interior__content-title {
		font-size: 32px;
	}

	.interior__wrap {
		margin-top: 100px;
	}
}

@media (max-width: 767px) {
	/* Interior */

	.interior {
		padding: 40px 0 90px;
		.container {
			padding: 0;
		}
	}

	.interior__wrap {
		flex-direction: column;
		margin-top: 40px;
	}

	.interior__content {
		flex-basis: 100%;
		width: 100%;
		margin: 0;
		padding: 40px 20px;
	}

	.interior__image {
		flex-basis: 100%;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
		margin-bottom: 10px;
	}

	.interior__title {
		padding: 0 10px;
		font-size: 35px;
	}

	.interior__content-title {
		text-align: center;
		font-size: 24px;
	}

	.interior__content-subtitle {
		font-size: 16px;
	}

	.interior__content-text {
		padding: 0 10px;
		font-size: 14px;
	}

	.interior__content-btn {
		text-align: center;
	}
}