.menus {
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: 10;
	width: 100vw;
	transition: transform .3s;
	.menu {
		max-width: calc(100% - (16vw + 50px) * 2);
		width: 100%;
		margin-left: auto;
		margin-right: auto;
		&:last-child {
			display: none;
		}
		&__icon {
			height: 40px;
			width: 40px;
			min-width: 40px;
			display: none;
		}
		.menu__wrap {
			width: 100%;
			padding: 10px 0;
			background: $dark;
			position: relative;
		}
	}
	&.active {
		background: $dark;
		visibility: visible;
		.menu {
			.menu__wrap {
				left: 50%;
				animation: scrollMenuAppear .4s forwards;
			}
		}
	}
	&.header-menu {
		width: 100%;
		position: absolute;
		bottom: 0;
		left: 0;
		z-index: 6;
		.menu {
			&__wrap {
				padding: 40px 0;
				background: transparent;
			}
		}
	}
	&_home {
		display: none;
	}
}

.menu {
	li {
		flex: 0 0 25%;
		a {
			background: $white;
			margin: 0 12px;
			display: flex;
			align-items: center;
			justify-content: center;
			min-height: 40px;
			padding: 0 30px;
			font-weight: 500;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			text-transform: uppercase;
			color: $black;
			.iconify {
				display: none;
			}
		}
	}
	&__wrap {
		display: flex;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-bottom: 0 !important;
	}
}

@media (max-width: 1919px) {
	.menu.header__menu .menu__wrap {
		padding: 40px 8vw;
	}

	.menus .menu {
		max-width: calc(100% - 8vw * 2);
	}
}

@media (max-width: 1441px) {
	.menu.header__menu .menu__wrap {
		padding: 40px;
	}

	.menus .menu {
		max-width: calc(100% - 30px * 2);
	}
}

@media (max-width: 1279px) {
	.menu li a, .menu.header__menu li a {
		font-size: 14px;
		line-height: 17px;
		margin: 0 7px;
	}

	.menus .menu {
		max-width: calc(100% - 13px * 2);
	}
}

@media (max-width: 1023px) {
	.menu, .menu.header__menu {
		li {
			a {
				font-size: 11px;
				line-height: 13px;
			}
		}
	}

	// 900
	.menus .menu .menu__wrap, .menu.header__menu .menu__wrap {
		background: $dark;
		padding: 5px 5px 20px;
		li {
			a {
				display: flex;
				flex-direction: column;
				align-items: center;
				color: $white;
				background: transparent;
				padding: 0;
				margin: 0 2px;
				.iconify {
					display: block;
					font-size: 40px;
					color: $white;
				}
			}
		}
	}
	.menus {
		&.active {
			.menu__wrap {
				padding: 5px;
			}
		}
		.menu__icon {
			display: block;
		}
		.menu {
			max-width: 100%;
			&:last-child {
				display: block;
			}
			&:first-child {
				display: none;
			}
		}
	}
}

// @media (max-width: 575px) {
// 	.menu, .menu.header__menu {
// 		li {
// 			a {
// 				font-size: 9px;
// 				line-height: 11px;
// 			}
// 		}
// 	}
// }

@media (max-width: 767px) {
	.menu, .menu.header__menu {
		li {
			display: flex;
			justify-content: center;
			a {
				max-width: 110px;
			}
		}
	}
}

@media (max-width: 479px) {
	.menus .menu .menu__wrap, .menu.header__menu .menu__wrap {
		padding: 5px;
	}

	.menu, .menu.header__menu {
		li {
			a {
				font-size: 9px;
				max-width: 90px;
				line-height: 11px;
			}
		}
	}
}