.offers {
	$self: &;
	overflow: hidden;
	padding: 120px 50px;
	position: relative;
	&__inner {
		position: relative;
		z-index: 2;
	}
	&__slides {
		margin-top: 65px;
		display: flex;
		flex-wrap: nowrap;
		transform: translate(100%, 0);
		opacity: 0;
		transition: 1s;
		position: relative;
		z-index: 2;
		&.active {
			opacity: 1;
			transform: translate(0, 0);
		}
		&-btns {
			display: flex;
			align-items: center;
			justify-content: flex-end;
			margin-top: -60px;
			span {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 35.5%;
			}
		}
		&-btn {
			&.swiper-button-prev, &.swiper-button-next {
				position: relative;
				top: unset;
				left: unset;
				right: unset;
				bottom: unset;
				width: unset;
				height: unset;
				margin-top: 0;
			}
			&_prev {
				.iconify {
					font-size: 40px;
					color: #3A4042;
				}
				&::after {
					display: none;
				}
				margin-right: 40px;
			}
			&_next {
				.iconify {
					font-size: 40px;
					color: $red;
				}
				&::after {
					display: none;
				}
			}
		}
	}
	&__slide {
		display: inline-flex;
		justify-content: flex-end;
		align-items: center;
		// border-right: 1px solid rgba(58, 64, 66, .4);
		// border-left: 1px solid rgba(58, 64, 66, .4);
		&.transition {
			transition: .7s;
		}
		&:last-child {
			margin-right: 0;
		}
		&-inner {
			overflow: hidden;
			display: flex;
			transition: opacity .2s .5s;
			height: 100%;
			width: calc(77% - 1px);
			margin-right: 1px;
		}
		&.active {
			flex: 0 1 100%;
			.stili__slide-inner {
				transition: none;
				flex-basis: 100%;
				opacity: 1;
			}
		}
		&-content {
			position: relative;
		}
		&-wrap {
			width: 100%;
			flex: 0 0 auto;
		}
		&-body {
			width: 55%;
			position: absolute;
			top: 0;
			right: 11%;
			padding-left: 40px;
			padding-right: 20px;
		}
		&-name {
			background: $white;
			cursor: pointer;
			padding: 30px 0;
			writing-mode: vertical-lr;
			margin-left: auto;
			margin-right: auto;
			position: relative;
			display: inline-flex;
			justify-content: center;
			align-items: center;
			text-align: center;
			transform: rotate(180deg);
			width: 54px;
			flex: 0 0 54px;
			align-self: stretch;
			&::after {
				content: '';
				display: block;
				position: absolute;
				bottom: 40px;
				left: 0;
				height: calc(100% - 80px);
				border-right: 1px solid rgba(58, 64, 66, .4);
			}
			h2 {
				font-weight: 900;
				font-size: 70px;
				line-height: 110px;
				text-transform: uppercase;
				opacity: 0.4;
				color: transparent;
				-webkit-text-stroke: 1px $dark;
				-webkit-text-fill-color: transparent;
				white-space: nowrap;
			}
		}
	}
	&_novostroi {
		#{$self}__slide {
			&-inner {
				background: $white;
				padding-top: 40px;
				padding-bottom: 40px;
			}
			&-content {
				display: flex;
				align-items: flex-start;
				padding-left: 40px;
				padding-right: 20px;
				position: relative;
			}
			&-img {
				min-height: 500px;
				flex: 0 1 32%;
			}
			&-title {
				font-weight: 500;
				font-size: 27px;
				line-height: 33px;
				color: $black;
			}
			&-subtitle {
				font-size: 17px;
				line-height: 140%;
				color: $dark;
				margin-top: 40px;
				span {
					font-weight: 900;
					font-size: 33px;
					line-height: 40px;
					margin: 0 10px;
				}
			}
			&-list {
				ul {
					margin-top: 20px;
					li {
						display: flex;
						align-items: flex-start;
						.iconify {
							font-size: 20px;
							width: 20px;
							min-width: 20px;
							margin-right: 10px;
							color: $red;
						}
						font-size: 17px;
						line-height: 140%;
						color: $black;
						margin-bottom: 10px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
			&-btns {
				margin-top: 25px;
				display: flex;
				align-items: center;
				padding-left: 40px;
				.btn {
					margin-right: 20px;
					max-width: 280px;
					width: 100%;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
	&_stili {
		#{$self}__slide {
			&-inner {
				padding-top: 40px;
				padding-bottom: 40px;
			}
			&-content {
				display: flex;
				align-items: flex-start;
				padding-left: 40px;
				padding-right: 20px;
			}
			&-img {
				min-height: 500px;
				flex: 0 1 45%;
			}
			&-body {
				flex: 0 0 calc(55% - 15px);
				width: calc(55% - 15px);
			}
			&-title {
				font-weight: 500;
				font-size: 27px;
				line-height: 33px;
				color: $black;
			}
			&-subtitle {
				font-size: 17px;
				line-height: 140%;
				color: $dark;
				margin-top: 40px;
				span {
					font-weight: 900;
					font-size: 33px;
					line-height: 40px;
					margin: 0 10px;
				}
			}
			&-list {
				max-width: 310px;
				ul {
					margin-top: 40px;
					li {
						display: flex;
						align-items: flex-start;
						.iconify {
							font-size: 20px;
							width: 20px;
							min-width: 20px;
							margin-right: 10px;
							color: $black;
						}
						font-size: 17px;
						line-height: 140%;
						color: $black;
						margin-bottom: 10px;
						&:last-child {
							margin-bottom: 0;
						}
					}
				}
			}
			&-btns {
				width: 45%;
				margin-top: 25px;
				display: flex;
				justify-content: center;
				align-items: center;
				padding-left: 40px;
				.btn {
					margin-right: 20px;
					max-width: 280px;
					width: 100%;
					&:last-child {
						margin-right: 0;
					}
				}
			}
		}
	}
}

// @media (max-width: 1919px) {
// 	.stili__slide-name {
// 		width: 50px;
// 		flex-basis: 50px;
// 	}

// 	.stili__slide-name p {
// 		font-size: 33px;
// 		line-height: 40px;
// 	}

// 	.stili__slide-name h2 {
// 		font-size: 80px;
// 		line-height: 98px;
// 	}

// 	.stili__slide {
// 		margin-right: 50px;
// 		flex-basis: 75px;
// 		margin-right: 20px;
// 		min-height: 600px;
// 		max-height: 600px;
// 	}

// 	.stili__slides {
// 		margin-top: 25px;
// 	}

// 	.stili_novostroi {
// 		.stili__slide-list ul {
// 			li {
// 				font-size: 14px;
// 			}
// 		}
// 	}

// 	.stili_stili, .stili_novostroi {
// 		.stili__slide {
// 			&-subtitle {
// 				margin-top: 20px;
// 			}
// 			&-list ul {
// 				margin-top: 20px;
// 			}
// 		}
// 	}
// }

// @media (max-width: 1441px) {
// 	.stili_novostroi {
// 		.stili__slide-subtitle {
// 			margin-top: 20px;
// 		}

// 		.stili__slide-btns {
// 			padding-left: 20px;
// 			flex-direction: column;
// 			width: 45%;
// 			.btn {
// 				margin-right: 0;
// 				margin-bottom: 20px;
// 				&:last-child {
// 					margin-bottom: 0;
// 				}
// 			}
// 		}
	
// 		.stili__slide-content {
// 			padding-left: 20px;
// 		}
	
// 		.stili__slide-body {
// 			padding-left: 20px;
// 		}
// 	}

// 	.stili__slide-name {
// 		width: 42px;
// 		flex: 0 0 42px;
// 		h2 {
// 			font-size: 60px;
// 			line-height: 73px;
// 		}
// 		p {
// 			font-size: 28px;
// 			line-height: 34px;
// 			margin-left: -4px;
// 		}
// 	}

// 	.stili__slide {
// 		flex-basis: 60px;
// 		min-height: 500px;
// 		max-height: 500px;
// 	}

// 	.stili_stili, .stili_novostroi {
// 		.stili__slide {
// 			&-subtitle {
// 				margin-top: 10px;
// 				span {
// 					font-size: 22px;
// 					line-height: 27px;
// 				}
// 			}
// 			&-list ul {
// 				margin-top: 10px;
// 			}
// 			&-body {
// 				padding-left: 20px;
// 			}
// 			&-title {
// 				font-size: 17px;
// 				line-height: 21px;
// 			}
// 			&-img {
// 				min-height: 320px;
// 			}
// 			&-list ul li {
// 				font-size: 14px;
// 			}
// 		}
// 	}
// }

// @media (max-width: 1279px) {
// 	.stili_novostroi {
// 		.stili__slide-title {
// 			font-size: 17px;
// 			line-height: 21px;
// 		}

// 		.stili__slide-subtitle {
// 			margin-top: 10px;
// 			span {
// 				font-size: 22px;
// 				line-height: 27px;
// 			}
// 		}

// 		.stili__slide-list ul {
// 			margin-top: 10px;
// 		}

// 		.stili__slide-btns .btn {
// 			margin-bottom: 30px;
// 		}
// 	}

// 	.stili .stili__slide-img {
// 		min-height: 320px;
// 	}
	
// 	.stili_stili {
// 		.stili__slide-title {
// 			font-size: 17px;
// 			line-height: 21px;
// 		}

// 		.stili__slide-list ul {
// 			margin-top: 20px;
// 			li {
// 				font-size: 14px;
// 			}
// 		}

// 		.stili__slide-body {
// 			padding-left: 20px;
// 		}
// 	}
// }

// @media (max-width: 1023px) {
// 	.stili {
// 		padding: 80px 20px;
// 	}

// 	.stili__slides {
// 		flex-direction: column;
// 	}

// 	.stili__slide {
// 		flex-direction: column;
// 		border-right: none;
// 		border-left: none;
// 		border-top: 1px solid transparent;
// 		border-bottom: 1px solid rgba(58, 64, 66, .4);
// 		min-height: unset;
// 		max-height: unset;
// 		margin-right: 0;
// 		margin-bottom: 30px;
// 		height: 58px;
// 		flex: unset;
// 		transition: .7s;
// 		&.active {
// 			border-top-color: rgba(58, 64, 66, .4);
// 			flex: unset;
// 			.stili__slide-inner {
// 				transition: none;
// 				flex: unset;
// 				opacity: 1;
// 			}
// 		}
// 		&:last-child {
// 			margin-bottom: 0;
// 		}
// 	}

// 	.stili__slide-name {
// 		height: 34px;
// 		padding: 0;
// 		margin-left: 0;
// 		writing-mode: horizontal-tb;
// 		width: 100%;
// 		flex-basis: unset;
// 		transform: none;
// 		justify-content: flex-start;
// 		margin-top: auto;
// 		p {
// 			left: 0;
// 			margin-top: 7px;
// 			transform: translate(0, -50%);
// 		}
// 	}

// 	.stili__slide-name {
// 		height: 42px;
// 		align-items: flex-end;
// 		h2 {
// 			font-size: 60px;
// 			line-height: 42px;
// 		}
// 		p {
// 			font-size: 22px;
// 			line-height: 27px;
// 			margin-left: 0;
// 		}
// 	}

// 	.stili_novostroi {
// 		.stili__slide-inner {
// 			width: 100%;
// 			padding-top: 0;
// 			padding-bottom: 0;
// 		}

// 		.stili__slide-content {
// 			padding: 0;
// 			width: 100%;
// 		}

// 		.stili__slide-wrap {
// 			width: unset !important;
// 			flex: 0 0 100%;
// 			display: flex;
// 			flex-direction: column;
// 			padding-bottom: 70px;
// 		}

// 		.stili__slide-control {
// 			padding-left: 20px;
// 			flex-direction: column;
// 		}

// 		.stili__slide-inner {
// 			overflow: hidden;
// 			display: flex;
// 			flex-direction: column;
// 		}

// 		.stili__slide-img {
// 			min-height: 420px;
// 			max-height: 420px;
// 		}

// 		.stili__slide-title {
// 			font-size: 17px;
// 			line-height: 21px;
// 		}

// 		.stili__slide-list {
// 			margin-top: 10px;
// 		}

// 		.stili__slide-subtitle {
// 			margin-top: 10px;
// 			font-size: 17px;
// 			line-height: 140%;
// 		}

// 		.stili__slide-content {
// 			padding-top: 20px;
// 		}
	
// 		.stili__slide-btns {
// 			width: 100%;
// 			padding-left: 0;
// 			flex-direction: row;
// 			.btn {
// 				margin-bottom: 0;
// 				margin-right: 20px;
// 				max-width: 200px;
// 			}
// 		}
// 	}

// 	.stili_stili {
// 		.stili__slide-inner {
// 			width: 100%;
// 			padding-top: 0;
// 			padding-bottom: 0;
// 		}

// 		.stili__slide-content {
// 			padding: 0;
// 			width: 100%;
// 		}

// 		.stili__slide-wrap {
// 			width: unset !important;
// 			flex: 0 0 100%;
// 			display: flex;
// 			flex-direction: column;
// 			padding-bottom: 70px;
// 		}

// 		.stili__slide-control {
// 			padding-left: 20px;
// 			flex-direction: column;
// 		}

// 		.stili__slide-inner {
// 			overflow: hidden;
// 			display: flex;
// 			flex-direction: column;
// 		}

// 		.stili__slide-title {
// 			font-size: 17px;
// 			line-height: 21px;
// 		}

// 		.stili__slide-list {
// 			margin-top: 10px;
// 		}

// 		.stili__slide-subtitle {
// 			margin-top: 10px;
// 			font-size: 17px;
// 			line-height: 140%;
// 		}

// 		.stili__slide-content {
// 			padding-top: 20px;
// 		}
	
// 		.stili__slide-body {
// 			padding-bottom: 75px;
// 		}
	
// 		.stili__slide-btns {
// 			width: 55%;
// 			margin-left: auto;
// 			justify-content: flex-start;
// 			padding-left: 40px;
// 			flex-direction: row;
// 			margin-top: -55px;
// 			.btn {
// 				margin-bottom: 0;
// 				margin-right: 20px;
// 				min-width: 280px;
// 			}
// 		}
// 	}

// 	.stili .stili__slide-img {
// 		min-height: 420px;
// 		max-height: 420px;
// 	}

// 	.stili .stili__slide-body {
// 		padding-top: 20px;
// 	}
// }

// @media (max-width: 767px) {
// 	.stili {
// 		padding: 40px 20px;
// 	}

// 	.stili__slide {
// 		margin-bottom: 10px;
// 	}

// 	.stili__slide-name {
// 		height: 27px;
// 		flex: 0 0 27px;
// 		h2 {
// 			font-size: 40px;
// 			line-height: 27px;
// 		}
// 		p {
// 			font-size: 17px;
// 			line-height: 21px;
// 			margin-top: 2px;
// 		}
// 	}

// 	.stili_novostroi {
// 		.stili__slide-content {
// 			flex-direction: column;
// 		}

// 		.stili__slide-img {
// 			flex-basis: 100%;
// 			width: 100%;
// 		}

// 		.stili__slide-body {
// 			flex-basis: 100%;
// 			width: 100%;
// 			padding-left: 0;
// 			padding-top: 20px;
// 		}

// 		.stili__slide-wrap {
// 			padding-bottom: 50px;
// 		}

// 		.stili__slide-btns {
// 			align-items: flex-start;
// 			flex-direction: column;
// 			.btn {
// 				margin-bottom: 20px;
// 				margin-right: 0;
// 				max-width: 280px;
// 			}
// 		}

// 		.stili__slide-list ul li {
// 			font-size: 12px;
// 			line-height: 135%;
// 		}
// 	}

// 	.stili_stili {
// 		.stili__slide-content {
// 			flex-direction: column;
// 		}

// 		.stili__slide-body {
// 			flex: none;
// 			width: 100%;
// 			padding-left: 0;
// 			padding-top: 20px;
// 			padding-bottom: 20px;
// 		}

// 		.stili__slide-wrap {
// 			padding-bottom: 50px;
// 		}

// 		.stili__slide-btns {
// 			width: 100%;
// 			margin-left: 0;
// 			padding-left: 0;
// 			margin-top: 0;
// 			align-items: center;
// 			flex-direction: column;
// 			.btn {
// 				margin-bottom: 20px;
// 				margin-right: 0;
// 			}
// 		}

// 		.stili__slide-title {
// 			font-size: 14px;
// 			line-height: 17px;
// 		}

// 		.stili__slide-list ul li {
// 			font-size: 12px;
// 			line-height: 135%;
// 			margin-bottom: 5px;
// 		}
// 	}

// 	.stili .stili__slide-img {
// 		flex-basis: 100%;
// 		width: 100%;
// 		min-height: 250px;
// 		max-height: 250px;
// 	}

// 	.stili .stili__slide-body {
// 		position: static;
// 		padding: 20px 0;
// 	}
// }

// @media (max-width: 479px) {
// 	.stili  .stili__slide-img {
// 		min-height: 180px;
// 		max-height: 180px;
// 	}
// 	.stili_stili {
// 		.stili__slide-list ul li {
// 			font-size: 12px;
// 			line-height: 135%;
// 		}
// 	}
// }