.order {
	position: relative;
	$self: &;
	&__image {
		flex: 0 0 50%;
		position: relative;
		z-index: 3;
	}
	&_repair {
		.order__content-title h3 {
			font-size: 36px;
			line-height: 44px;
		}
	}
	&__content {
		overflow: hidden;
		margin: 75px 0;
		display: flex;
		align-items: center;
		background: $dark;
		color: $white;
		padding: 105px 50px 160px;
		flex: 0 0 50%;
		&-title {
			min-height: 110px;
			position: relative;
			margin-bottom: 40px;
			display: flex;
			align-items: flex-end;
			h3 {
				font-weight: 900;
				font-size: 33px;
				line-height: 40px;
				text-transform: uppercase;
				position: relative;
				z-index: 2;
				margin-top: 57px;
				span {
					color: $red;
				}
			}
			h2 {
				font-weight: 900;
				font-size: 90px;
				line-height: 110px;
				text-align: center;
				text-transform: uppercase;
				opacity: .4;
				-webkit-text-stroke: 1px $white;
				color: transparent;
				position: absolute;
				top: 0;
				left: 0;
				white-space: nowrap;
				z-index: 1;
			}
		}
		&-text {
			margin-top: 40px;
			font-weight: 500;
			font-size: 22px;
			line-height: 27px;
		}
		&-btns {
			margin-top: 8px;
			display: flex;
			.btn {
				margin-right: 20px;
				margin-top: 12px;
				padding: 15px 20px;
				&:last-child {
					margin-right: 0;
				}
			}
		}
	}
	&__list {
		margin-top: 20px;
		font-size: 17px;
		line-height: 140%;
		max-width: 420px;
		&-list {
			margin-top: 10px;
			li {
				&::before {
					content: '';
					display: inline-block;
					position: relative;
					top: -3px;
					width: 3px;
					height: 3px;
					margin: 0 12px;
					background: $white;
				}
			}
		}
	}
	&__inner {
		position: relative;
		z-index: 2;
		display: flex;
		min-height: 83vh;
	}
	&__cover {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: -1px;
		z-index: 3;
		width: calc(100% + 1px);
		height: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		background: transparent;
		> span {
			width: 25vw;
			position: relative;
			> span {
				position: absolute;
				top: 0;
				right: 0;
				transition: .5s;
				width: 0;
				height: 100%;
				background: $white;
			}
			&:last-child {
				width: calc(25vw + 1px);
			}
			&:nth-child(2n) {
				> span {
					right: unset;
					left: 0;
				}
			}
		}
		&.hide {
			> span {
				> span {
					width: 100%;
				}
			}
			> span:last-child {
				> span {
					width: 100%;
				}
			}
		}
	}
	&_stili {
		padding: 120px 0 95px;
	}
	&_reverse {
		#{$self}__inner {
			flex-direction: row-reverse;
		}
		#{$self}__image {
			flex-basis: 65%;
		}
		#{$self}__content {
			flex-basis: 35%;
		}
	}
	&_packages {
		padding-top: 120px;
		padding-bottom: 120px;
		.order__content {
			padding: 100px 50px 160px;
		}
	}
	&_package {
		.order__content-title h2 {
			left: 60px;
		}
	}
}

@media (max-width: 1919px) {
	.order__content {
		margin: 50px 0;
		padding: 65px 40px 125px;
	}

	.order_packages {
		.order__content {
			padding: 65px 40px 125px;
		}
	}

	.order__content-btns {
		margin-top: 28px;
	}

	.order_package {
		.order__content-title h2 {
			left: 0;
		}
	}
}

@media (max-width: 1441px) {
	.order__content-title {
		min-height: 61px;
		h2 {
			font-size: 50px;
			line-height: 61px;
		}
		h3 {
			font-size: 22px;
			line-height: 27px;
			margin-top: 28px;
		}
	}

	.order_repair {
		.order__content-title h3 {
			font-size: 22px;
			line-height: 27px;
		}
	}

	.order__content-text {
		font-size: 17px;
		line-height: 21px;
	}

	.order__list {
		font-size: 14px;
		line-height: 140%;
	}

	.order__content {
		padding: 50px 40px;
	}
	.order_packages {
		.order__content {
			padding: 50px 40px;
		}
	}
}

@media (max-width: 1279px) {
	.order__content-title {
		margin-bottom: 0;
	}

	.order__content-text {
		margin-top: 20px;
	}

	.order__content {
		margin: 30px 0;
		padding: 125px 20px 150px;
	}

	.order_packages {
		.order__content {
			padding: 125px 20px 150px;
		}
	}

	.order_stili {
		padding: 80px 0 20px;
	}

	.order__content-btns .btn {
		margin-right: 10px;
		padding: 12px 20px;
		font-size: 10px;
	}

	.order_packages {
		padding-top: 80px;
		padding-bottom: 80px;
	}
}

@media (max-width: 1023px) {
	.order__inner {
		flex-direction: column;
	}

	.order__content {
		flex: none;
		margin-top: -80px;
		margin-left: 20px;
		margin-right: 20px;
		margin-bottom: 0;
		position: relative;
		z-index: 4;
		padding: 40px 90px 20px;
	}

	.order_packages {
		.order__content {
			padding: 40px 90px 20px;
		}
	}

	.order__image {
		padding-bottom: 78%;
		flex: none;
	}

	.order__content-btns {
		padding-left: 30px;
		margin-top: 8px;
		.btn {
			width: 100%;
			margin-right: 40px;
		}
	}

	.order_reverse {
		.order__inner {
			flex-direction: column;
		}
		.order__image {
			flex: none;
		}
		.order__content-title {
			display: inline-flex;
		}
		.order__content {
			flex: none;
			&-title {
				h2 {
					left: unset;
					right: 0;
				}
			}
		}
	}

	.order_package {
		padding-bottom: 80px;
		.order__content-title {
			display: flex;
			justify-content: center;
			h3 {
				position: relative;
				left: 50%;
				transform: translate(-50%, 0);
			}
			h2 {
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
		.order__content-wrap {
			margin-left: auto;
			margin-right: auto;
		}
	}

	section.order > div.order__inner {
		min-height: unset;
	}
	.order_repair {
		.order__content-wrap {
			margin-left: auto;
			margin-right: auto;
		}
		.order__content-title h2 {
			left: 50%;
			right: unset;
			transform: translate(-50%, 0);
		}
		.order__content-title h3 {
			text-align: center;
		}
		.order__content-btns .btn {
			width: auto;
		}
		.order__content {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.order__content-btns {
			margin-top: 28px;
			justify-content: center;
		}
	}
}

@media (max-width: 767px) {
	.order__content-btns {
		padding: 0 40px;
		justify-content: center;
		flex-direction: column;
		.btn {
			margin-right: 0;
		}
	}

	.order__content {
		margin-top: 0;
		padding: 30px 40px 25px;
	}

	.order_packages {
		.order__content {
			padding: 30px 40px 25px;
		}
	}

	.order__content-title h3 {
		font-size: 17px;
		line-height: 21px;
		margin-top: 33px;
	}

	.order_repair {
		.order__content-title h3 {
			font-size: 17px;
			line-height: 21px;
		}
	}

	.order__content-text {
		font-size: 14px;
		line-height: 17px;
	}

	.order__list {
		font-size: 12px;
		line-height: 135%;
	}

	.order_reverse {
		.order__inner {
			flex-direction: column;
		}
		.order__image {
			flex: none;
		}
		.order__content-title {
			display: inline-flex;
		}
		.order__content {
			flex: none;
			&-title {
				h2 {
					left: 0;
					right: unset;
				}
			}
		}
	}
	.order_package {
		.order__content-title {
			h3 {
				text-align: center;
			}
			h2 {
				left: 50%;
				transform: translate(-50%, 0);
			}
		}
	}
	.order_repair {
		.order__content-wrap {
			margin-left: auto;
			margin-right: auto;
		}
		.order__content-title h2 {
			left: 50%;
			right: unset;
			transform: translate(-50%, 0);
		}
		.order__content-title h3 {
			text-align: center;
		}
		.order__content-btns .btn {
			width: auto;
		}
		.order__content {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.order__content-btns {
			margin-top: 28px;
			justify-content: center;
		}
	}
}

@media (max-width: 479px) {
	.order_stili {
		padding: 40px 0 0;
	}

	.order__content-btns {
		padding: 0;
	}

	.order__content {
		margin-top: 0;
		padding: 30px 20px 25px;
		margin-left: 0;
		margin-right: 0;
	}

	.order_packages {
		.order__content {
			padding: 30px 20px 25px;
		}
	}

	.order_packages {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.order_repair {
		.order__content-wrap {
			margin-left: auto;
			margin-right: auto;
		}
		.order__content-title h2 {
			left: 50%;
			right: unset;
			transform: translate(-50%, 0);
		}
		.order__content-title h3 {
			text-align: center;
		}
		.order__content-btns .btn {
			width: auto;
		}
		.order__content {
			padding-top: 50px;
			padding-bottom: 50px;
		}
		.order__content-btns {
			margin-top: 28px;
			justify-content: center;
		}
	}
}