.vis-hid {
  opacity: 0;
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
  transition: all .5s;
}
.section-for-test-page{
  max-width: 1920px;
  width:100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}
.cont-for-test-page{ 
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 15px;
  height: 100%;
}

.test-hero-section {
  height: 600px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 450px;
  @media(min-width: 768px) {
    padding-left: 100px;
  }
  @media(max-width: 768px) {
    height: 400px;
    padding-top: 250px;
  }
  @media(max-width: 480px) {
    height: 300px;
    padding-top: 200px;
  }
}

.test-hero-section-title {
  font-size: 75px;
  color: #dedede;
 
  @media(max-width: 768px) {
    font-size: 45px;
    margin-bottom: 100px;
  }
  @media(max-width: 480px) {
    margin-bottom: 80px;
  }
}
.test-section {
  padding: 40px 0;
}

.test-container {
}
.test-descr-wrap {
  width: 100%;
  text-align: center;
}
.descr-title {
  font-size: 40px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2c2c2c;
  margin-bottom: 15px;
  @media(max-width: 1200px) {
    font-size: 30px;
  }
  @media(max-width: 768px) {
    font-size: 25px;
  }
  @media(max-width: 480px) {
    font-size: 20px;
  }
}
.descr-text {
  font-size: 25px;
  color: #010101;
  margin-bottom: 15px;
  @media(max-width: 768px) {
    font-size: 15px;
  }
  @media(max-width: 480px) {
    font-size: 15px;
  }
}
.progresbar-wrapper {
  display: flex;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}
.test-step-btn {
  cursor: default;
  width: calc(100% / 8);
  height: 8px;
  transition: all 0.6s;
  background-color: transparent;
}
.active-step-test {
  background-color: #ad4746;
}

.test-question-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  @media (max-width: 768px) {
    flex-direction: column;
  }
}
.test-question-text {
  position: relative;
  z-index: 2;
  font-size: 20px;
  line-height: 20px;
  font-weight: 500;
  color: #2c2c2c;
  margin: 15px 0;
  transition: all 0.6s;
  @media (max-width: 768px) {
    font-size: 15px;
  }
}

.test-next-question-btn {
  position: relative;
  display: block;
  font-size: 16px;
  padding: 15px 45px 15px 25px;
  margin-bottom: 15px;
  width: 300px;
  color: #fff;
  background: linear-gradient(
      267.75deg,
      rgba(255, 255, 255, 0.2) 8.24%,
      rgba(0, 0, 0, 0) 87.94%
    ),
    #ad4746;
  margin-right: auto;
  margin-left: auto;
  &:hover {
    box-shadow: 4px 10px 0px #923c3b, 0px 0px 30px rgba(255, 255, 255, 0.3);
  }
  &::after {
    content: "→";
    position: absolute;
    // top: 50%;
    right: 20px;
    width: 15px;
    height: 10px;
  }
  @media (max-width: 768px) {
    width: 250px;
    padding: 15px 30px 15px 15px;
    font-size: 15px;
  }
}

.test-form{
  display: flex;
  flex-direction: column;

}
.test-step{
  width:100%;
  display: flex;

  justify-content: space-between;
  transition: all 1s;
}
.step2,
.step8 {
  flex-direction: column;
  align-items: center;
}
.check {
  width: 28%;
  height: 180px;
  cursor: pointer;
  @media(max-width: 768px) {
    width: 32%;
    height: 150px;
  }
}
.check-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url(../../images/test/test-check.png) no-repeat center;
  background-size: cover;
  transition: all .5s;
  animation: checkbox-animation 3s ease infinite;
  @keyframes checkbox-animation {
    0% {
      border-radius:50%;
    }
    50% {
      border-radius: 5px;
    }
    
    100% {
      border-radius:50%;
    }
  }
}

.check-input:checked ~ .check-icon {
  background: url(../../images/test/test-checked.png) no-repeat center;
  background-size: contain;
}
.check-div-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.check-img {
  border-radius:15px;
  border: 4px solid #ad4746;
  overflow: hidden;
  position: relative;
  height: 180px;
  width: 100%;
  transition: all 0.5s;
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  @media(max-width: 768px) {
    border: 2px solid #ad4746;
  }
}
.check-img:hover {
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    transition: all 0.5s;
  }
}

.check-text {
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  margin-top: 10px;
  @media (max-width: 768px) {
    font-size: 14px;
  }
}
.step2-input {
  width: 300px;
  font-size: 16px;
  padding: 10px 15px;
  border: 1px solid #2c2c2c;
  border-radius: 5px;
  background-color: transparent;
  @media (max-width: 768px) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

.wrap-test-next-question-btn{
  margin-top: 15px;
}
.test-form-submit-btn {
  font-size: 16px;
  padding: 15px 25px;
  color: #fff;
  border-radius: 5px;
  margin-top: 10px;
  background: linear-gradient(
      267.75deg,
      rgba(255, 255, 255, 0.2) 8.24%,
      rgba(0, 0, 0, 0) 87.94%
    ),
    #ad4746;
  transition: 0.5s all;
  &:hover {
    transform: scale(0.9);
  }
  @media (max-width: 768px) {
    margin-top: 0;
  }
}