.section-cover {
	$self: &;
	&_first {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		background: transparent;
		> span {
			width: 25vw;
			position: relative;
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				transition: .7s;
				width: 0;
				height: 100%;
				background: $white;
				z-index: 8;
			}
		}
		&.hide {
			> span {
				&::before {
					width: 100%;
				}
			}
		}
		> span {
			&::before {
				left: 0;
			}
			&:nth-child(2), &:nth-child(3) {
				&::before {
					left: unset;
					right: 0;
				}
			}
		}
	}
	&_second {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		background: transparent;
		> span {
			width: 25vw;
			position: relative;
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				transition: .8s;
				width: 0;
				height: 100%;
				background: $white;
				z-index: 8;
			}
		}
		&.hide {
			> span {
				&::before {
					width: 100%;
				}
			}
		}
		> span {
			&::before {
				right: 0;
			}
			&:nth-child(2), &:nth-child(3) {
				&::before {
					right: unset;
					left: 0;
				}
			}
		}
	}
	&_third {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: -1px;
		width: calc(100% + 1px);
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		background: transparent;
		span {
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				transition: 1s;
				width: 101%;
				height: 100%;
				background: $white;
				z-index: 8;
				transform: translate(0, 100%);
			}
		}
		> span {
			width: calc(16vw + 50px);
			position: relative;
			&:last-child {
				width: calc(16vw + 50px + 1px);
				&::before {
					transition: 1.5s;
				}
			}
		}
		#{$self}__inner {
			width: calc(100% - (16vw + 50px) * 2);
			display: flex;
			flex-wrap: nowrap;
			> span {
				width: 25%;
				position: relative;
				&:nth-child(2n - 1) {
					&::before {
						transition: 1.5s;
					}
				}
			}
		}
		&.hide {
			span {
				&::before {
					transform: translate(0, 0%);
				}
			}
		}
	}
	&_fourth {
		width: calc(100% + 1px);
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		background: transparent;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 55;
		animation: loaderCoverVisibility 0s 1.4s both;
		span {
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				background: $white;
				z-index: 56;
			}
		}
		> span {
			width: calc(16vw + 50px);
			position: relative;
			&:last-child {
				width: calc(16vw + 50px + 1px);
			}
		}
		#{$self}__inner {
			width: calc(100% - (16vw + 50px) * 2);
			display: flex;
			flex-wrap: nowrap;
			> span {
				width: 25%;
				position: relative;
			}
		}
		> span {
			&::before {
				animation: loaderCover 1.1s .3s both;
			}
		}
		#{$self}__inner {
			> span {
				&::before {
					animation: loaderCover 1.1s .3s both;
				}
			}
		}
	}
	&_fifth {
		overflow: hidden;
		position: absolute;
		top: 0;
		left: -1px;
		width: calc(100% + 1px);
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		background: transparent;
		span {
			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 0;
				left: 0;
				transition: 1s;
				width: 101%;
				height: 100%;
				background: $white;
				z-index: 8;
				transform: translate(0, -100%);
			}
		}
		> span {
			width: calc(16vw + 50px);
			position: relative;
			&:last-child {
				width: calc(16vw + 50px + 1px);
				&::before {
					transition: 1.5s;
					transform: translate(0, 100%);
				}
			}
		}
		#{$self}__inner {
			width: calc(100% - (16vw + 50px) * 2);
			display: flex;
			flex-wrap: nowrap;
			> span {
				width: 25%;
				position: relative;
				&:nth-child(2n - 1) {
					&::before {
						transform: translate(0, 100%);
						transition: 1.5s;
					}
				}
			}
		}
		&.hide {
			span {
				&::before {
					transform: translate(0, 0%) !important;
				}
			}
		}
	}
}

@keyframes loaderCoverVisibility {
	100% {
		visibility: hidden;
	}
}

@keyframes loaderCover {
	0% {
		width: 100%;
	}
	100% {
		width: 0%;
	}
}

@media (max-width: 1279px) {
	.section-cover {
		&_third, &_fourth, &_fifth {
			> span {
				width: calc(8vw + 50px);
				&:last-child {
					width: calc(8vw + 50px + 1px);
				}
			}
			.section-cover__inner {
				width: calc(100% - (8vw + 50px) * 2);
			}
		}
	}
}

@media (max-width: 1023px) {
	.section-cover {
		&_first, &_second {
			grid-template-columns: repeat(2, 1fr);
			> span {
				width: 50vw;
				&:last-child {
					width: calc(50vw + 1px);
				}
				&:nth-child(3), &:nth-child(4) {
					display: none;
				}
			}
		}
		&_first {
			&::before {
				left: 0;
				right: unset;
			}
		}
		&_second {
			&::before {
				right: 0;
				left: unset;
			}
		}
		&_third, &_fourth, &_fifth {
			> span {
				width: calc(16vw + 50px);
				&:last-child {
					width: calc(16vw + 50px + 1px);
				}
			}
			.section-cover__inner {
				width: calc(100% - (16vw + 50px) * 2);
				span {
					width: 50%;
				}
				span:nth-child(3), span:nth-child(4) {
					display: none;
				}
			}
		}
	}
}

@media (max-width: 767px) {
	.section-cover {
		&_third, &_fourth, &_fifth {
			> span {
				width: 20px;
				&:last-child {
					width: 21px;
				}
			}
			.section-cover__inner {
				width: calc(100% - 20px * 2);
				span {
					width: 50%;
				}
			}
		}
	}
}