.service {
	overflow: hidden;
	&__body {
		min-height: calc(var(--vh, 1vh) * 92);
		display: flex;
		align-items: center;
		flex-wrap: nowrap;
	}
	&__image {
		position: relative;
		z-index: 3;
		align-self: stretch;
		flex: 0 0 50%;
		&-wrap {
			height: 100%;
		}
	}
	&__content {
		opacity: 0;
		transition: 1s;
		&.active {
			opacity: 1;
		}
		padding: 80px 0 70px;
		flex: 0 0 50%;
		&-wrap {
			margin-left: 170px;
		}
		&-subtitle {
			font-weight: 500;
			font-size: 27px;
			line-height: 33px;
			color: $black;
		}
		&-title {
			position: relative;
			height: 110px;
			display: flex;
			align-items: flex-end;
			margin-top: 25px;
			margin-bottom: 20px;
			h2 {
				font-weight: 900;
				font-size: 90px;
				line-height: 110px;
				text-transform: uppercase;
				opacity: 0.4;
				color: transparent;
				-webkit-text-stroke: 1px $dark;
				-webkit-text-fill-color: transparent;
				white-space: nowrap;
				margin-left: -170px;
				position: absolute;
				top: 0;
				left: 0;
			}
			span {
				font-weight: 900;
				font-size: 33px;
				line-height: 40px;
				text-transform: uppercase;
				color: $black;
				margin-bottom: 15px;
				position: relative;
				z-index: 2;
			}
		}
		&-text {
			font-size: 17px;
			line-height: 140%;
			color: $black;
			margin-bottom: 10px;
		}
		&-btn {
			margin-top: 40px;
		}
	}
}

@media (max-width: 1440px) {
	.service__image {
		padding-left: 110px;
	}

	.service__content-wrap {
		margin-left: 130px;
	}
}

@media (max-width: 1024px) {
	.service {
		padding-left: 0;
		padding-right: 30px;
	}

	.service__image {
		padding-left: 0;
	}

	.service__content-wrap {
		margin-left: 100px;
	}

	.service__content-title span {
		font-size: 22px;
		margin-bottom: 2px;
	}

	.service__content-title h2 {
		font-size: 60px;
		line-height: 73px;
		margin-left: -100px;
	}

	.service__content-title {
		height: 73px;
		margin: 5px 0;
	}
}

@media (max-width: 767px) {
	.service {
		padding-right: 0;
	}

	.service__body {
		flex-direction: column;
	}

	.service__image {
		flex-basis: 100%;
		&-wrap {
			padding-bottom: 58%;
		}
	}

	.service__content {
		padding: 40px 0;
		flex-basis: 100%;
	}

	.service__content-wrap {
		margin-left: 0;
	}

	.service__content-title {
		margin: 40px 0;
	}

	.service__content-subtitle {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		max-width: 380px;
		font-size: 17px;
		line-height: 21px;
	}

	.service__content-title h2 {
		margin-left: 0;
		left: 50%;
		transform: translate(-50%, 0);
	}

	.service__content-title span {
		margin-left: auto;
		margin-right: auto;
	}

	.service__content-text {
		font-size: 14px;
	}

	.service__content-btn {
		text-align: center;
	}

	.service__body {
		min-height: auto;
	}
}