.test {
	margin: 120px 0;
	display: flex;
	flex-wrap: nowrap;
	min-height: 66vh;
	&__content {
		display: flex;
		flex-direction: column;
		justify-content: center;
		padding: 30px 0;
		flex: 0 0 35%;
		padding-left: 30px;
		padding-right: 30px;
		opacity: 0;
		transition: 1s;
		transform: translate(-100%, 0);
		&.active {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
	&__title {
		font-weight: 500;
		font-size: 27px;
		line-height: 33px;
		color: $black;
		margin-bottom: 20px;
	}
	&__btn {
		.btn {
			padding: 15px 110px;
		}
	}
	&__image {
		flex: 0 1 65%;
		opacity: 0;
		transition: 1s;
		transform: translate(-100%, 0);
		&.active {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
}

@media (max-width: 1440px) {
	.test {
		margin: 80px 0;
	}
}

@media (max-width: 1280px) {
	.test__title {
		font-size: 22px;
		line-height: 27px;
	}
}

@media (max-width: 767px) {
	.test__title {
		font-size: 17px;
		line-height: 21px;
	}
}

@media (max-width: 575px) {
	.test {
		flex-direction: column-reverse;
		min-height: auto;
		margin: 20px 0 40px;
		padding: 0 20px;
	}
	
	.test__image {
		flex: none;
		padding-bottom: 46%;
	}

	.test__content {
		flex: none;
		padding: 0;
		text-align: center;
		margin-top: 20px;
	}

	.test__title {
		max-width: 320px;
		margin-left: auto;
		margin-right: auto;
	}
}