/* Standart */

*, *::before, *::after {
	padding: 0;
	margin: 0;
	border: 0;
	box-sizing: border-box;
}

:focus, :active {
	outline: none;
}

a:focus, a:active {
	outline: none;
}

html, body {
	width: 100%;
	font-family: 'Montserrat', sans-serif;
	text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background: $white;
}

::selection {
	color:#000;
	background:#fff;
}

body.lock {
	overflow: hidden;
}

body.lock-x {
	overflow-x: hidden;
}

body.lock-y {
	overflow-y: hidden;
}

address {
	font-style: normal;
}

input, button, textarea {
	font-family: inherit;
	font-size: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a, a:hover {
	color: inherit;
	text-decoration: none;
}

li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
	font-size: inherit;
	font-weight: normal;
}

textarea, input {
	-webkit-appearance: none;
	border-radius: 0;
}

.container {
	max-width: 1330px;
	padding: 0 20px;
	margin: 0 auto;
	width: 100%;
	&_super-big {
		max-width: 1550px;
	}
	&_small {
		max-width: 1260px;
	}
}

.wrapper {
	min-height: calc(var(--vh, 1vh) * 100);
}

.red {
	color: $red;
}

/* IB */

.ib {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

.ib .ib_use {
	display: none;
}

/* Splitting */

[data-splitting] {
	position: relative;
	opacity: 0;
	transition: .3s;
	.word {
		white-space: nowrap;
	}
}

@keyframes line {
	45% {
		transform: translateX(0) scaleX(0);
	}
	70% {
		transform: translateX(0) scaleX(0.8);
	}
	100% {
		transform: translateX(100%) scaleX(0);
	}
}

@keyframes kern {
	0%,
	70% {
		transform: translateX(calc((var(--char-index)) * 40px));
		opacity: 0;
	}
	80% {
		opacity: 1;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
		animation-timing-function: none;
	}
}

@keyframes scrollMenuAppear {
	0% {
		transform: translate(-50%, 100%);
	}

	100% {
		transform: translate(-50%, 0);
	}
}